@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --clr-primary: #6366F1;
    
    --gray-100: #F3F6FF;
    --gray-200: #EFF2FC;
    --gray-300: #E2E5F1;
    --gray-400: #D4D7E5;
    --gray-500: #B4B7C9;
    --gray-600: #9397AD;
    --gray-700: #565973;
    --gray-800: #33354D;
    --gray-900: #0B0F19;
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", serif;
}

img{
    display: block;
    width: 100%;
    
}

ol, ul{
    list-style: none;
}

.container{
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;

    @media (width > 576px ) { 
        max-width: 540px;
    }

    @media (width > 768px ) { 
        max-width: 720px;
    }

    @media (width > 992px ) { 
        max-width: 960px;
    }

    @media (width > 1200px ) { 
        max-width: 1140px;
    }

    @media (width > 1400px ) {
        max-width: 1320px;
    }

}

.spacing-y-1{
    padding-top: 1rem;
}

.spacing-y-2{
    padding-top: 2rem;
}

.spacing-y-3{
    padding-top: 3rem;
}

/* NAV START */
.main-nav{

    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100000;
    .container, .main-menu{
        display: flex;
        align-items: center;
        
    }

    .main-menu{
        width: 100%;
        justify-content: space-between;
    }

    .btn-login{
        display: flex;
        gap: .5em;
        align-items: center;
        background-color: var(--clr-primary);
        text-decoration: none;
        color: white;
        text-wrap: nowrap;
        padding: .5em 1em;
        border-radius: .3rem;

        img{
            height: 1em;
        }

        display: none;

        
    }

    .nav-link{
        text-decoration: none;
        color: var(--gray-800);
        margin-left: 3rem;

        display: none;
        
    }

    .menu-btn{
        background-color: transparent;
        border: none;
        
        flex-shrink: none;
        
        
        position: absolute;
        right: 0rem;

        transform: translateX(-50%);
    }

    .container{
        position: relative;
        
    }

    .dark-mode{
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        flex-shrink: none;
        gap: .5rem;
        color: var(--gray-700);

        position: absolute;
        right: 11rem; 
    }

    .darkmode-text{
        display: none;
    }

    .toggle{
        --_w: 2.875rem;
        --_h: 1.5rem;
    
        width: var(--_w);
        height: var(--_h);
        display: inline-block;
        position: relative;
    
        input[type="checkbox"]{
            appearance: none;
            
        }
    
        .slider{
            position: absolute;
            inset: 0;
            border-radius: 100vw;
            background-color: var(--gray-600);
            cursor: pointer;
        }
    
        .slider::before{
            content:'';
            position: absolute;
            height: 85%;
            top: 50%;
            left: 0;
            transform: translate(10%, -50%);
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: white;
    
            transition: 400ms;
        }
    
        input[type="checkbox"]:checked ~ .slider::before{
            left: calc(99% - var(--_h));
    
        }
    
        input[type="checkbox"]:checked + .slider{
            background-color: var(--clr-primary);
    
        }
    }

    @media (width <= 767px ){
        
        .menu-btn{
            display: block;
            padding-right: 1rem;
        }
        .dark-mode{
            right: 4rem;
        }
        .menu-btn{
            transform: translateX(0%);
        }
        
         
    }

    
    @media (width >= 768px){
        .darkmode-text{
            display: block;
        }
        .dark-mode{
            right:5rem;
        }
    }

    @media (width >= 1400px){
        .menu-btn{
            display: none;
        }
        .nav-link{
            display: block;
        }
        .btn-login{
            display: inline-flex;
        }
        .dark-mode{
            right: 12rem;
        }
    }

}
/* NAV END */


/* HERO START */

.hero-page{
    background-image: linear-gradient(to top, rgba(99, 101, 241, 0.1), rgba(219, 70, 239, 0.05), rgba(241, 244, 253, 0.07));
    padding-top: 4rem;
    .hero-title{
        color: var(--gray-900);
        font-size: 2.125rem;
        font-weight: 800;
        line-height: 1.3;
        text-align: center;
        padding-top: 2rem;
    }

    .hero-text{
        color: var(--gray-700);
        font-size: 1.125rem;
        line-height: 1.6;
        text-align: center;
        padding-top: 2rem;
    }

    .store-download{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 2rem;
    }


    .store-btn{
        background-color: var(--gray-900);
        padding: .5em 1rem;
        border-radius: .5rem;
        width: 100%;

        img{
            height: 3em;
        }
    }
    
    .more{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;

       .discover{
        text-decoration: none;
        text-wrap: nowrap;
       }
    }

    .hero-img{

        display: none;
        
    }

    @media (width <= 767px ){

    }

    @media (width >= 768px){
        .container{
            position: relative;
        }

        .hero-img{
            display: block;
            width: 60%;
            

            position: absolute;
            bottom: 0;
            right: 0;
        }
        .hero-text{
            text-align: start;
            width: 45%;

        }
        .store-download{
            flex-direction: row;
        }
        
        .hero-title{
            font-size: 2.75rem;
            padding-bottom: 5rem;
            
        }
        .store-btn{
            img{
                height: 2em;
            }
        }
        .more{
            justify-content: flex-start;
            padding-top: 4rem;
        }
        .hero-text{
            width: 40%;
        }
        
    }

    @media (width >= 992px){
        .hero-page{
            
        }
        .hero-title{
            
            padding-bottom: 5rem;
            
        }
        .hero-text{
            padding-top: 1rem;
            width: 40%;
            padding-bottom: 10rem;
        }
        
        .store-btn{
            width: 12rem;
        }
        .hero-img{
            
        }
    }

    @media (width >= 1200px){
        
        .hero-title{
            text-align: start;
            padding-top: 10rem;
            width: 50%;
            font-size: 3.5rem;
            padding-bottom: 1rem;
        }
        .hero-text{
            width: 40%;
            padding-bottom: 0;
        }
        
        .store-btn{
            width: 12rem;
        }
        .more{
            margin-top: 12rem;
        }
        
        .hero-img{
            
        }
    }

}
/* HERO END */

