@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --clr-primary: #6366F1;
    
    --gray-100: #F3F6FF;
    --gray-200: #EFF2FC;
    --gray-300: #E2E5F1;
    --gray-400: #D4D7E5;
    --gray-500: #B4B7C9;
    --gray-600: #9397AD;
    --gray-700: #565973;
    --gray-800: #33354D;
    --gray-900: #0B0F19;

    --bg-clr-white: white;
    --bg-clr-gray: #F3F6FF;

    --clr-success: #22C55E;
}


*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Manrope", serif;
}

img{
    display: block;
    width: 100%;
    
}

ol, ul{
    list-style: none;
}

.container{
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;

    @media (width > 576px ) { 
        max-width: 540px;
    }

    @media (width > 768px ) { 
        max-width: 720px;
    }

    @media (width > 992px ) { 
        max-width: 960px;
    }

    @media (width > 1200px ) { 
        max-width: 1140px;
    }

    @media (width > 1400px ) {
        max-width: 1320px;
    }

}

.spacing-y-1{
    padding-top: 1rem;
}

.spacing-y-2{
    padding-top: 2rem;
}

.spacing-y-3{
    padding-top: 3rem;
}

/* NAV START */
.main-nav{

    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100000;
    .container, .main-menu{
        display: flex;
        align-items: center;
        
    }

    .main-menu{
        width: 100%;
        justify-content: space-between;
    }

    .btn-login{
        display: flex;
        gap: .5em;
        align-items: center;
        background-color: var(--clr-primary);
        text-decoration: none;
        color: white;
        text-wrap: nowrap;
        padding: .5em 1em;
        border-radius: .3rem;

        img{
            height: 1em;
        }

        display: none;

        
    }

    .nav-link{
        text-decoration: none;
        color: var(--gray-800);
        margin-left: 3rem;

        display: none;
        
    }

    .menu-btn{
        background-color: transparent;
        border: none;
        
        flex-shrink: none;
        
        
        position: absolute;
        right: 0rem;

        transform: translateX(-50%);
    }

    .container{
        position: relative;
        
    }

    .dark-mode{
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        flex-shrink: none;
        gap: .5rem;
        color: var(--gray-700);

        position: absolute;
        right: 11rem; 
    }

    .darkmode-text{
        display: none;
    }

    .toggle{
        --_w: 2.875rem;
        --_h: 1.5rem;
    
        width: var(--_w);
        height: var(--_h);
        display: inline-block;
        position: relative;
    
        input[type="checkbox"]{
            appearance: none;
            
        }
    
        .slider{
            position: absolute;
            inset: 0;
            border-radius: 100vw;
            background-color: var(--gray-600);
            cursor: pointer;
        }
    
        .slider::before{
            content:'';
            position: absolute;
            height: 85%;
            top: 50%;
            left: 0;
            transform: translate(10%, -50%);
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: white;
    
            transition: 400ms;
        }
    
        input[type="checkbox"]:checked ~ .slider::before{
            left: calc(99% - var(--_h));
    
        }
    
        input[type="checkbox"]:checked + .slider{
            background-color: var(--clr-primary);
    
        }
    }

    @media (width <= 767px ){
        
        .menu-btn{
            display: block;
            padding-right: 1rem;
        }
        .dark-mode{
            right: 4rem;
        }
        .menu-btn{
            transform: translateX(0%);
        }
        
         
    }

    
    @media (width >= 768px){
        .darkmode-text{
            display: block;
        }
        .dark-mode{
            right:5rem;
        }
    }

    @media (width >= 1400px){
        .menu-btn{
            display: none;
        }
        .nav-link{
            display: block;
        }
        .btn-login{
            display: inline-flex;
        }
        .dark-mode{
            right: 12rem;
        }
    }

}
/* NAV END */


/* HERO START */
.hero-page{
    background-image: linear-gradient(to top, rgba(99, 101, 241, 0.1), rgba(219, 70, 239, 0.05), rgba(241, 244, 253, 0.07));
    padding-top: 4rem;
    .hero-title{
        color: var(--gray-900);
        font-size: 2.125rem;
        font-weight: 800;
        line-height: 1.3;
        text-align: center;
        padding-top: 2rem;
    }

    .hero-text{
        color: var(--gray-700);
        font-size: 1.125rem;
        line-height: 1.6;
        text-align: center;
        padding-top: 2rem;
    }

    .store-download{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 2rem;
    }


    .store-btn{
        background-color: var(--gray-900);
        padding: .5em 1rem;
        border-radius: .5rem;
        width: 100%;

        img{
            height: 3em;
        }
    }
    
    .more{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-bottom: 3rem;

       .discover{
        text-decoration: none;
        text-wrap: nowrap;
       }
    }

    .hero-img{

        display: none;
        
    }

    @media (width <= 767px ){

    }

    @media (width >= 768px){
        .container{
            position: relative;
        }

        .hero-img{
            display: block;
            width: 60%;
            

            position: absolute;
            bottom: 0;
            right: 0;
        }
        .hero-text{
            text-align: start;
            width: 45%;

        }
        .store-download{
            flex-direction: row;
        }
        
        .hero-title{
            font-size: 2.75rem;
            padding-bottom: 5rem;
            
        }
        .store-btn{
            img{
                height: 2em;
            }
        }
        .more{
            justify-content: flex-start;
            padding-top: 4rem;
        }
        .hero-text{
            width: 40%;
        }
        
    }

    @media (width >= 992px){
        .hero-page{
            
        }
        .hero-title{
            
            padding-bottom: 5rem;
            
        }
        .hero-text{
            padding-top: 1rem;
            width: 40%;
            padding-bottom: 10rem;
        }
        
        .store-btn{
            width: 12rem;
        }
        .hero-img{
            
        }
    }

    @media (width >= 1200px){
        
        .hero-title{
            text-align: start;
            padding-top: 10rem;
            width: 50%;
            font-size: 3.5rem;
            padding-bottom: 1rem;
        }
        .hero-text{
            width: 40%;
            padding-bottom: 0;
        }
        
        .store-btn{
            width: 12rem;
        }
        .more{
            margin-top: 12rem;
        }
        
        .hero-img{
            
        }
    }

}
/* HERO END */

/* LOGOIPSUM START */
.logos{
    display: none;

    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        padding-block: 3rem;
    }

   
    .logo-card{
        border: 1px solid var(--gray-300);
        padding: 2rem;
        border-radius: .5em;
        display: grid;
        place-items: center;
    }
    
    @media (width >768px){
        display: block;

        .logo-card:nth-last-of-type(-n+2){
            display: none;
        
        }
    }

    @media (width >1200px){
        .container{
            grid-template-columns: repeat(6, 1fr);
        }

        .logo-card:nth-last-of-type(-n+2){
            display: block;
        
        }
    }

}
/* LOGOIPSUM END */

/* FEATURE START */
.features{
    text-align: center;
    

    .feature-img{
        display: none;
    }

    .feature-text{
        padding-bottom: 5rem;
        h2{
            font-size: 1.75rem;
            font-weight: 800;
            padding-bottom: 2rem;
        }

        p{
            font-size: 1.125rem;
            color: var(--gray-600);
            line-height: 1.7;
        }
    }

    .feature-grid{
        display: grid;
        gap: 2rem;
        padding-top: 3rem;
    }

    .feature-card{
        display: flex;
        gap: 1.5rem;
        text-align: start;
        align-items: flex-start;

        h3{
            color: var(--gray-900);
            font-size: 1.25rem;
            font-weight: 800;
            padding-bottom: .5rem;
        }

        p{
            color: var(--gray-700);
        }
    }


    .icon-container{
        background-color: var(--gray-200);
        border-radius: .5em;
        padding: 1rem;
        width: 5rem;
        

        display: grid;
        place-items: center;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
    }

    @media (width >= 768px){
        .feature-grid{
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (width >= 1200px){
        .feature-img{
            display: block;
            margin-top: 3rem;

        }
        .container{
            display: flex;
            gap: 15rem;
        }

        

        .feature-text{
            text-align: start;
            flex: 1;
        }
    }
}
/* FEATURE END */

/* HOW DOES IT WORK START*/
.how-does-it-work{
    background-color: var(--bg-clr-gray);
    text-align: center;
    padding-block: 3rem;

    .hdiw-title{
        font-size: 1.75rem;
        font-weight: 800;
    }
    .hdiw-images{
        display: flex;
        justify-content: center;
        padding-block: 2rem;
        
    }

    .iphone-card1{
        display: none;
    }
    .iphone-card3{
        display: none;
    }
    .hdiw-bottom-text{
        h3{
            
            font-size: 1.375rem;
            line-height: 1.7;
            padding-bottom: 1rem;
        }
        p{
            color: var(--gray-700);
            line-height: 1.6;
        }
    }

    @media (width >= 768px){
        .hdiw-bottom-text{
            margin: 0 auto;
            width: 70%;
        }

        .iphone-card1,
        .iphone-card3{
            display: block;
        }
        .hdiw-images{
            display: flex;
        }
    }

    @media (width >= 1200px){
        .hdiw-images{
            gap: 3rem;
        }
        .hdiw-bottom-text{
            width: 45%;
            
        }
    }
}
/* HOW DOES IT WORK END */

/* FEATURE 2 START */
.feature-2{
    display: none;
    background-color: var(--bg-clr-white);
    padding-inline: 12rem;
    .content-part-1{
        display: flex;
        padding-top: 3rem;
        
        justify-content: space-between;
        gap: 3rem;
    }
    .content-container{
        padding-top: 7rem;
        
        h2{
            color: var(--gray-900);
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.6;
            padding-bottom: 2rem;
        }
    }
    .list-card{
        display: flex;
        gap: 1rem;
        padding-top: 1rem;
        img{
            width: 1.5rem;
        }
    }

    .learn-more-btn{
        display: flex;
        gap: .5em;
        align-items: center;
        background-color: var(--clr-primary);
        text-decoration: none;
        color: white;
        text-wrap: nowrap;
        padding: .5em 1em;
        border-radius: .3rem;
        width: 9rem;
        margin-top: 2rem;
        img{
            height: 1em;
        }
        
    }

    .content-part-2{
        display: flex;
        padding-block: 3rem;
    }
    .feature-2-part-2-img{
        width: 50%;
    }
    .content-container2{
        width: 50%;
        margin-top: 3rem;
        h2{
            color: var(--gray-900);
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.6;
            padding-bottom: 2rem;
        }
        p{
            color: var(--gray-700);
            line-height: 1.6;
        }
    }
    .content-card-flex{
        display: flex;
        gap: 2rem;
        
    }
    .icon-container{
        background-color: var(--gray-200);
        border-radius: .5em;
        padding: 1rem;
        width: 4rem;

        display: grid;
        place-items: center;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    
    }

    .content-text{
        padding-top: 1rem;
    }

    
}

@media (width >= 1200px){
    .feature-2{
        display: block;
    }
}
/* FEATURE 2 END */

/* TESTIMONIALS START */
.testimonials{
    display: none;
    background-color: var(--bg-clr-gray);
    .testimonials-container{
        display: flex;
        padding-bottom: 3rem;
    }

    .testimonials-title{
        color: var(--gray-900);
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 1.3;
        flex: 1.5;
    }
    .testimonials-img{
        flex: 2;
    }

}
@media (width >= 1200px){
    .testimonials{
        display: block;
    }
}
/* TESTIMONIALS END */

/* FAQ START */
.faq{
    padding-bottom: 3rem;
    .faq-text{
        text-align: center;
        padding-bottom: 3rem;
        h2{
            color: var(--gray-900);
            font-size: 2rem;
            line-height: 1.3;
        }
        p{
            padding-top: 1rem;
            color: var(--gray-700);
            font-size: 1.125;
            line-height: 1.6;
        }
    }
    .contact-form{
        padding-top: 3rem;
        display: flex;
        gap: 1rem;
        display: none;
    }
    .contact-phone{
        display: inline-flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        border: 1px solid var(--gray-300);
        border-radius: .5rem;
        p{
            color: var(--gray-700);
            font-size: 0.875rem;
        }
        img{
            width: 2rem;
        }
        a{
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            color: var(--clr-primary);
            img{
                width: 1rem;
            }
        }
    }

    .contact-message{
        display: inline-flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        border: 1px solid var(--gray-300);
        border-radius: .5rem;
        
        p{
            color: var(--gray-700);
            font-size: 0.875rem;
        }
        img{
            width: 2rem;
        }
        a{
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: none;
            color: var(--clr-success);
            
            img{
                width: 1rem;
            }
        }
    }

    .question-card{
        border-radius: .5em;
        .question-first{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            border: 1px solid var(--gray-300);
            background-color: white;
            color: var(--gray-900);
            font-weight: 500;
            padding: 1rem;
            font-size: 1rem;
            /* box-shadow: 0 3px 7px 2px var(--gray-300); */
            border-radius: .5em .5em 0 0;
            width: 100%;
            cursor: pointer;

            img{
                width: 2.5rem;
            }
            
        }
    .answer{
        border: 1px solid var(--gray-300);
        padding: 1rem;
        color: var(--gray-700);
        font-size: 0.875;
    }
    .question-last{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        border: 1px solid var(--gray-300);
        background-color: white;
        color: var(--gray-900);
        font-weight: 500;
        padding: 1rem;
        font-size: 1rem;
        /* box-shadow: 0 3px 7px 2px var(--gray-300); */
        border-radius: 0 0 .5em .5em;
        width: 100%;
        cursor: pointer;
        
        img{
            width: 2.5rem;
        }
    }
    .question{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        border: 1px solid var(--gray-300);
        background-color: white;
        color: var(--gray-900);
        font-weight: 500;
        padding: 1rem;
        font-size: 1rem;
        /* box-shadow: 0 3px 7px 2px var(--gray-300); */
        
        width: 100%;
        cursor: pointer;

        img{
            width: 2.5rem;
        }
    }
        
    }
    .contact-us-btn{
        display: flex;
        font-size: 0.875rem;
       
        align-items: center;
        justify-content: center;
        background-color: var(--clr-primary);
        text-decoration: none;
        color: white;
        text-wrap: nowrap;
        padding: 1em 1em;
        border-radius: .3rem;
        width: 9rem;
        margin-top: 2rem;
    }
    .flex-center{
        display: flex;
        justify-content: center;
    }

    @media (width >= 768px){
        .accordion{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .question-card{
            border: none;
            box-shadow: 0 3px 7px 2px var(--gray-300);
            border-radius: .5em;
            .answer{
                border: hidden;
            }
        }
        .question-first{
            border: none !important;
        }
        .question{
            border: none !important;
            box-shadow: 0 3px 7px 2px var(--gray-300);
            border-radius: .5em;
        }
        .question-last{
            border-radius: .5em !important;
            border: none !important;
        }
        .contact-us-btn{
            display: none;
        }
        
        .contact-form{
            display: flex;
            flex-direction: row;
            text-align: start;
            
        
            
            
            .contact-message{
                width: 49%;
                position: absolute;
                bottom: 0;
            }
            .contact-phone{
                width: 49%;
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        .faq-container{
            position: relative;
            padding-bottom: 15rem;
        }
        

        


        
    }

    @media (width >= 1200px){
        .faq-container{
            display: flex;
            
        }
        .contact-form{
            .contact-message,
            .contact-phone{
                position: static;
            }

        }
        
        .faq-text{
            text-align: start;
            flex: 1;
            .contact-message,
            .contact-phone{
                width: 12.25rem;
             }
        }
        
        .accordion{
            flex: 1;
        }
        .faq-container{
            padding-bottom: 2rem;
        }

        
        
    }

}
/* FAQ END */

/* NEWSLETTER START */
.newsletter{
    padding-bottom: 5rem;
    .newsletter-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        

        background-color: var(--bg-clr-gray);
        border-radius: .5em;
        padding: 3rem 1rem;
    }
    .newsletter-text{
        display: flex;
        gap: 2rem;
        align-items: center;
        width: 100%;

        h3{
            color: var(--gray-900);
            font-size: 1.5rem;
            line-height: 1.4;
            font-weight: 800;
        }
        
        
        img{
            width: 4rem;
        }

    }
    .newsletter-text-desktop{
        display: none;
    }
    .subscribe-btn{
        border: none;
        background-color: var(--clr-primary);
        color: white;
        font-size: 1rem;
        font-weight: 400;
        padding: 1em 1em;
        border-radius: 0 .5em .5em 0;
        cursor: pointer;
    }
    
    .newsletter-input{
        border: 1px solid var(--gray-400);
        font-size: 1rem;
        display: flex;
        width: 100%;
        padding-left: 3rem;
        border-radius: .5em 0 0 .5em;
        
        
    }
    
    .newsletter-input::placeholder{
        color: var(--gray-400);
    }
    
    .newsletter-form{
        display: flex;
        width: 100%;
        position: relative;
        
    }
    
    .icon{
        width: 1.3rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 1rem;
        
    }

    @media (width >= 768px){
        .newsletter-container{
            flex-direction: row;
        }
        
    }
    @media (width >= 1200px){
        .subscribe-btn{
            padding: 1em 2em;
        }
        .newsletter-text-mobile{
            display: none;
        }
        .newsletter-text-desktop{
            display: block;
        }
    }
}
/* NEWSLETTER END */